<div class="page">
    <div class="l">
        <div style="text-align: center;">
            <img src="assets/img/logo1.png"/>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 text-justify text-white text-center">
                <h2 style="border: none;">
                    <i>Trinity Mobile App Lab’s motto is to Help Businesses Go mobile...</i>
                </h2>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 text-justify text-white">
                <h3 style="border: none;">
                    <i>
                        Trinity Mobile Lab is a Software Company engaged in developing end-to-end web and mobile based solutions serving Android and iOS platforms since 2013. As an expert mobile solution developer, the company architects web and mobile solutions and applications that help businesses grow primarily start-ups looking to build a tech-enabled business, medium and large brands looking for innovative mobile solutions to meet their business requirements. The company offers a full spectrum of IT application services such as doing need-gap analysis, concept development, digital marketing, design, development, and offering customised application-based IT support services.
                    </i>
                </h3>
            </div>
        </div>
    </div>
    <div class="r">
        <form #loginForm="ngForm" (ngSubmit)='onSubmitting()'>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="tr-color"><span>Welcome Back</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label class="tr-color">Mobile</mat-label>
                        <input matInput [(ngModel)]="loginModel.mobile" name="mobile" placeholder="Mobile" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field>
                        <mat-label class="tr-color">Password</mat-label>
                        <input matInput [(ngModel)]="loginModel.password" name="password" placeholder="password" [type]="hide ? 'password' : 'text'" required>
                        <i mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon class="text-bold" style="cursor: pointer;font-size: 100% !important;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </i>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button class="text-white" [ngStyle]="{'background-color':button}" mat-raised-button [disabled]='loginForm.form.invalid' [class.Activebutton]='!loginForm.form.invalid'>
                        <mat-icon>key</mat-icon> Login 
                    </button>
                </div>
                <div class="col-md-6 text-right">
                    <a href="javascript:void(0)" (click)="openForgetModal()">Forget Password?</a>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="forgetPasswordModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="padding: 10px !important;">
                <h4 class="modal-title tr-color">Forget Password</h4>
                <button type="button" class="btn  btn-sm text-white" [ngStyle]="{'background-color':button}" (click)="closeAnyModal('forgetPasswordModal')">Close</button>
            </div>
            <div class="modal-body">
                <div class="row" *ngIf="isOTP_Validate">
                    <div class="col-md-12 text-success">OTP Verified, please enter new password and confirm it.</div>
                </div>
                <div class="row" *ngIf="!isOTP_Validate">
                    <div class="col-md-7">
                        <label class="tr-color">Mobile Number</label>
                        <input type="text" [(ngModel)]="mobileNumber" [disabled]='true' OnlyNumber="true" maxlength="10" class="form-control" placeholder="enter mobile"/>
                    </div>
                    <div class="col-md-5">
                        <label style="color: transparent;display: block">Send OTP</label>
                        <button [ngStyle]="{'background-color':button}" class="btn btn-block text-bold text-white" [disabled] = "mobileNumber == '' || mobileNumber.length<10" (click)="sendOTP()">Send OTP</button>
                    </div>
                </div>

                <div class="row" *ngIf="!isOTP_Validate">
                    <div class="col-md-7">
                        <label class="tr-color">OTP</label>
                        <input type="text" [(ngModel)]="otpNumber" OnlyNumber="true" maxlength="6" class="form-control" placeholder="enter 6 digit OTP"/>
                    </div>
                    <div class="col-md-5">
                        <label style="color: transparent;display: block">Verify OTP</label>
                        <button [ngStyle]="{'background-color':button}" class="btn btn-block text-bold text-white" [disabled] = "otpNumber == '' || otpNumber.length<6  " (click)="VerifyOTP()">Verify OTP</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <label class="tr-color">New Password</label>
                        <input [type]="showPassword ? 'password' : 'text'" [(ngModel)]="newPassword" [disabled] = "!isOTP_Validate" class="form-control" placeholder="enter new password"/>
                    </div>
                    <div class="col-md-5">
                        <label style="color: transparent;display: block">View</label>
                        <button mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                            <mat-icon>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </div>
                </div>
          
                <div class="row">
                    <div class="col-md-7">
                        <label class="tr-color">Confirm Password</label>
                        <input [type]="showPassword ? 'password' : 'text'" [(ngModel)]="confirmPassword" [disabled] = "!isOTP_Validate" class="form-control" placeholder="confirm password"/>
                    </div>
                    <div class="col-md-5">
                        <label style="color: transparent;display: block">Change password</label>
                        <button [ngStyle]="{'background-color':button}" class="btn btn-block text-bold text-white" [disabled] = "confirmPassword == '' " (click)="changePassword()">Change password</button>
                    </div>
                </div>
                

            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>
