<div class="row header">
    <div class="col-md-2">
        <img src="assets/img/logo1.png"  />
    </div>
    <div class="col-md-8">
        <ul>
            <li *ngFor="let ml of menuList" [routerLink]="ml.routerLink" [routerLinkActive] = '["ActiveRoute"]'>{{ml.menuName}}</li>
        </ul>
    </div>
    <div class="col-md-2">
        <button mat-button (click)='logout()' style="color: white; float: right;margin: 8px 0px;">
            {{loginEmpName}} - Logout <mat-icon>exit_to_app</mat-icon>
        </button>
    </div>
</div>
<div class="row content">
    <div class="col-md-12">
        <router-outlet></router-outlet>
    </div>
</div>
<div class="row footer">
    <div class="col-md-12">
        <a href="https://www.trinityapplab.com/" target="_blank" style="color: white;">
            Trinity Mobile App Lab Pvt Ltd.
        </a>
    </div>
</div>

